/**
 * Base on bootstrap and pure
 * Setup table elements setting
 */

/* Table base
   ========================================================================== */

.table {
	background-color: transparent;
  empty-cells: show;
  width: 100%;
  max-width: 100%;
}
.table th{
	text-align: left;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 0.5em 1em; 
  vertical-align: top;
  border-top: 1px solid $gray-lighter; 
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid $gray-lighter; 
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid $gray-lighter; 
}

/* Bordered table
   ========================================================================== */

.table--bordered {
  border: 1px solid $gray-lighter; 
}
.table--bordered > thead > tr > th,
.table--bordered > tbody > tr > th,
.table--bordered > tfoot > tr > th,
.table--bordered > thead > tr > td,
.table--bordered > tbody > tr > td,
.table--bordered > tfoot > tr > td {
  border: 1px solid $gray-lighter; 
}
.table--bordered > thead > tr > th,
.table--bordered > thead > tr > td {
  border-bottom-width: 2px; 
}


/* Striped rows
   ========================================================================== */

.table--striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; 
}


/* table theme
   ========================================================================== */
   
.table--caption{
  background-color: $gray-gainsboro;
}


/* table style1
   ========================================================================== */

.table--lv1{
  border: 1px solid $gray-lighter; 
}
.table--lv1 > thead > tr > th,
.table--lv1 > tbody > tr > th,
.table--lv1 > tfoot > tr > th,
.table--lv1 > thead > tr > td,
.table--lv1 > tbody > tr > td,
.table--lv1 > tfoot > tr > td {
  border-left: 1px solid $c-lightgray; 
}
.table--lv1 > thead > tr > th:first-child,
.table--lv1 > tbody > tr > td:first-child {
  border-left: 1px solid $gray-lighter; 
}
.table--lv1 > thead > tr > th{
  background-color: $c-lightgray;  
  border-bottom-width: 1px; 
  text-align: center;
}
