	<div id="fixedTool" class="n-fixed__tool">
		<a href="" class="n-fixed__switch" title="隱藏優惠">隱藏優惠</a>
		<ul class="n-fixed__ad">
			<li><a href="" title="抗稅大作戰"><img src="img201607/content/fixed-90x200.png" alt="抗稅大作戰"></a></li>
			<li><a href="" title="登入賺"><img src="img201607/content/fixed-90x90.png" alt="登入賺"></a></li>
			<li><a href="" title="防詐騙"><img src="img201607/content/fixed-90x30.jpg" alt="防詐騙"></a></li>
		</ul>
		<div class="n-fixed__cart">
			<a href="" title="購物車"><i class="n-icon--cart"></i> 購物車</a>
			<div class="n-fixed__cart-info">
				<p><span>2</span> 件商品</p>
				<p>共 <span>9,999</span> 元</p>
			</div>
		</div>
		<a href="" class="n-fixed__top" title="回到頁首"><i class="n-icon--top"></i></a>
	</div>