<footer class="n-footer">
	<div class="n-footer__nav n-layout">
		<ul class="n-left">
			<li><a href="" title="電視購物" target="_blank">電視購物</a></li>
			<li><a href="" title="智慧手機" target="_blank">智慧手機</a></li>
			<li><a href="" title="居家" target="_blank">居家</a></li>
			<li><a href="" title="家電" target="_blank">家電</a></li>
		</ul>
		<ul class="n-right">
			<li><a href="" title="森森官網">森森官網</a></li>
			<li><a href="" title="森森旅遊網">森森旅遊網</a></li>
			<li><a href="" title="森森粉絲團">森森粉絲團</a></li>
		</ul>
	</div>
	<div class="n-footer__nav n-footer__nav-lv2">
		<div class="n-layout">
			<ul class="n-left">
				<li><a href="" title="關於我們">關於我們</a></li>
				<li><a href="" title="人才招募">人才招募</a></li>
				<li><a href="" title="招商專區">招商專區</a></li>
				<li><a href="" title="異業合作">異業合作</a></li>
			</ul>
			<ul class="n-right">
				<li><a href="" title="用戶指南">用戶指南</a></li>
				<li><a href="" title="聯繫客服">聯繫客服</a></li>
				<li><a href="" title="隱私權保護政策">隱私權保護政策</a></li>
				<li><a href="" title="防詐騙提醒">防詐騙提醒</a></li>
			</ul>
		</div>
	</div>
	<div class="n-footer__wrap n-layout">
		<div class="n-left">
			<div class="n-footer__fb">
				<div class="n-left" data-href="https://www.facebook.com/Umallgetmore" data-width="340" data-height="200" data-action="like" data-show-faces="true"></div>
			</div>
			<ul class="n-footer__info">
				<li>
					<div class="n-footer__caption">24H免費服務專線：</div>
					<p><a href="tel:0800-620-000" title="24H 免費服務專線">0800-620-000</a></p>
				</li>
				<li>
					<div class="n-footer__caption">電子信箱：</div>
					<p><a href="mailto: UCEC@sensengo.com.tw" title="電子信箱">UCEC@sensengo.com.tw</a></p>
				</li>
			</ul>
		</div>
		<ul class="n-right">
			<li><img src="img201607/logo/bsi.png" alt="bsi"></li>
			<li><img src="img201607/logo/ulife_best.png" alt="森森嚴選"></li>
			<li><img src="img201607/logo/twcaseal_small.png" alt="TWCA SSL LOGO"></li>
			<li>
				<a href="https://www.mcafeesecure.com/RatingVerify?ref=www.u-mall.com.tw&amp;lang=TW" target="_blank" title="McAfee SECURE 認證的網站足以預防99%以上的駭客犯罪">
					<img src="https://images.scanalert.com/meter/www.u-mall.com.tw/13.gif?lang=TW" alt="McAfee SECURE 認證的網站足以預防99%以上的駭客犯罪">
				</a>
			</li>
			<li><a href="" title="Certificate of Validation For Merchants"><img src="img201607/logo/PCIDSS.png" alt="Certificate of Validation For Merchants"></a></li>
		</ul>
	</div>
	<div class="n-footer__copyright n-layout">
		<p class="n-left">台北市大安區復興南路一段368號8樓</p>
		<p class="n-right">
			<span>森森百貨股份有限公司 版權所有</span>
			<span>代表人：廖尚文</span>
		</p>
	</div>	
</footer>