<header class="n-header">
	<div class="n-header__top">
		<div class="n-top__ad-box">
			<div id="topFiveBanner" class="n-top__ad">
				<a href="" title="森森購物網AD"><img src="img201607/header/topbanner.png" alt="森森購物網AD"></a>
				<a href="" title="森森購物網AD"><img src="img201607/header/topbanner.png" alt="森森購物網AD"></a>
				<a href="" title="森森購物網AD"><img src="img201607/header/topbanner.png" alt="森森購物網AD"></a>
				<a href="" title="森森購物網AD"><img src="img201607/header/topbanner.png" alt="森森購物網AD"></a>
				<a href="" title="森森購物網AD"><img src="img201607/header/topbanner.png" alt="森森購物網AD"></a>
				<div id="topBannerNav" class="n-top--bn-nav"></div>	
			</div>
		</div>
		<div class="n-top__nav">
			<div class="n-layout">
				<ul class="n-left">
					<li><a href="" title="會員好康" target="_blank">會員好康</a></li>
					<li><a href="" title="粉絲團" target="_blank">粉絲團</a></li>
					<li><a href="" title="手機版" target="_blank">手機版</a></li>
					<li><a href="" title="得易Ponta公告" target="_blank">得易Ponta公告</a></li>
				</ul>
				<ul id="topNavs" class="n-right">
					<li><a href="" title="登入">登入</a></li>
					<li><a href="" title="註冊">註冊</a></li>
					<li><a href="" title="查訂單">查訂單</a></li>
					<li class="n-top__ponta has--drop is--drop">
						<a href="" title="得易Ponta"><span>得易Ponta</span> <i class="n-icon--dropmenu"></i></a>
						<ul class="n-top__drop">
							<li><a href="" title="加入得易Ponta">加入得易Ponta</a></li>
							<li><a href="" title="累點公告">累點公告</a></li>
							<li><a href="" title="點數明細">點數明細</a></li>
							<li><a href="" title="常見問題">常見問題</a></li>
						</ul>
						<div class="is--drop-bg"></div>
					</li>
					<li class="n-top__birthday has--drop is--drop">
						<a href="" title="生日卡"><span>禮物卡</span> <i class="n-icon--dropmenu"></i></a>
						<ul class="n-top__drop">
							<li><a href="" title="禮物卡介紹">禮物卡介紹</a></li>
							<li><a href="" title="禮物卡購買">禮物卡購買</a></li>
							<li><a href="" title="兌換專區">兌換專區</a></li>
							<li><a href="" title="明細查詢">明細查詢</a></li>
							<li><a href="" title="常見問題">常見問題</a></li>
						</ul>
						<div class="is--drop-bg"></div>
					</li>
					<li><a href="" title="購物車 0 件">購物車 <span class="n-font--red">0</span> 件</a></li>
				</ul>
			</div>
		</div>                                        
	</div>
	<div class="n-header__wrap n-layout">
		<div class="n-header__left n-left">
			<h1 class="n-logo n-left"><a href="HomePage.aspx" title="森森購物網" class="GAEventTracking" ga_eventtype="Head" ga_eventname="LeftBN" ga_eventnum="1" ga_eventpictxt="pic"><img src="img201607/umall_logo.png" alt="森森購物網 U-mall"></a></h1>
			<a href="#" title="森森購物網" class="GAEventTracking" ga_eventtype="Head" ga_eventname="LeftBN" ga_eventnum="2" ga_eventpictxt="pic"><img class="n-left n-single--ad" src="img201607/header/190X60.png" alt="森森購物網AD"></a>
		</div>
		<div id="headSearch" class="n-search__box n-left">
			<div class="n-search__field">
				<form action="">
					<input class="n-form--control n-left" type="search" placeholder="請輸入關鍵字或商品序號">
					<div class="n-search__catalog n-left">
						<a href="#" title="全館分類"><span>全館分類</span> <i class="n-icon--dropmenu"></i></a>
						<div class="n-search__catalog-drop">
							<ul>
								<li><a href="" title="電視購物">電視購物</a></li>
								<li><a href="" title="快速到貨">快速到貨</a></li>
								<li><a href="" title="美妝">美妝</a></li>
								<li><a href="" title="保健">保健</a></li>
								<li><a href="" title="內塑衣">內塑衣</a></li>
								<li><a href="" title="服飾">服飾</a></li>
								<li><a href="" title="鞋包精品">鞋包精品</a></li>
								<li><a href="" title="珠寶 ">珠寶 </a></li>
								<li><a href="" title="3C">3C</a></li>
								<li><a href="" title="家電">家電</a></li>
								<li><a href="" title="手機相機">手機相機</a></li>
								<li><a href="" title="旅遊">旅遊</a></li>
								<li><a href="" title="居家">居家</a></li>
								<li><a href="" title="婦幼銀髮">婦幼銀髮</a></li>
								<li><a href="" title="運動│車">運動│車</a></li>
								<li><a href="" title="傢俱寢飾">傢俱寢飾</a></li>
								<li><a href="" title="全館分類">全館分類</a></li>
							</ul>
							<a href="#" title="森森購物網AD"><img src="img201607/header/190X60.png" alt="森森購物網AD"></a>
						</div>
					</div>
					<button type="submit" class="n-btn n-btn--primary n-left"><i class="n-icon--search"></i></button>
				</form>
			</div>
			<div class="n-search__keyword">
				<div class="n-search__caption n-left">熱搜：</div>
				<ul class="n-left">
					<li><a href="#" title="行李箱">行李箱</a></li>
					<li><a href="#" title="反向傘">反向傘</a></li>
					<li><a href="#" title="衛生紙">衛生紙</a></li>
					<li><a href="#" title="電風扇">電風扇</a></li>
					<li><a href="#" title="移動式冷氣">移動式冷氣</a></li>
					<li><a href="#" title="行動電源">行動電源</a></li>
					<li><a href="#" title="滿意寶寶">滿意寶寶</a></li>
					<li><a href="#" title="行車紀錄器">行車紀錄器</a></li>
					<li><a href="#" title="大同電鍋">大同電鍋</a></li>
				</ul>
			</div>
		</div>
		<ul class="n-three--ad n-right">
			<li><a href="" title="森森購物網AD"><img src="img201607/header/70x55-01.png" alt="森森購物網AD"></a></li>
			<li><a href="" title="森森購物網AD"><img src="img201607/header/70x55-02.png" alt="森森購物網AD"></a></li>
			<li><a href="" title="森森購物網AD"><img src="img201607/header/70x55-03.png" alt="森森購物網AD"></a></li>
		</ul>
	</div>
</header>
