<div id="navWrap" class="n-nav__wrap">
	<div class="n-layout">
		<nav class="n-nav__box n-left">
			<h2><p>全站商品分類 <i class="n-icon--menu n-right n-is--hide"></i></p></h2>
			<ul id="mainNav" class="n-nav__menu">
				<li>
					<a class="n-nav__catalog" href="" title="品牌旗艦">品牌旗艦</a>
					<div class="n-nav__keywords">
						<a href="" title="船井生醫">船井生醫</a>
						<a href="" title="華陀">華陀</a>
					</div>
					<div data-submenu-id="subNav1" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__flagship-sub">
								<ul id="navFlagship" class="n-nav__flagship-menu n-left">
									<li>
										<a class="current" href="" title="十大名店">十大名店</a>
									</li>
									<li>
										<a href="" title="服飾鞋包">服飾鞋包</a>
									</li>
									<li>
										<a href="" title="內著塑衣">內著塑衣</a>
									</li>
									<li>
										<a href="" title="珠寶鑽石">珠寶鑽石</a>
									</li>
									<li>
										<a href="" title="國際精品">國際精品</a>
									</li>
									<li>
										<a href="" title="手錶飾品">手錶飾品</a>
									</li>
									<li>
										<a href="" title="美妝保養">美妝保養</a>
									</li>
									<li>
										<a href="" title="保健∣食品 ">保健∣食品</a>
									</li>
									<li>
										<a href="" title="日用傢寢">日用傢寢</a>
									</li>
									<li>
										<a href="" title="3C家電">3C家電</a>
									</li>
								</ul>
								<div id="navFlagshipWrap" class="n-nav__flagship-wrap n-left">
									<ul class="n-nav__flagship-category">
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐--11</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
									</ul>
									<ul class="n-nav__flagship-category n-is--hide">
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐--22</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
									</ul>
									<ul class="n-nav__flagship-category n-is--hide">
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐--33</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
									</ul>
									<ul class="n-nav__flagship-category n-is--hide">
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐--44</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
									</ul>
									<ul class="n-nav__flagship-category n-is--hide">
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐--55</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
									</ul>
									<ul class="n-nav__flagship-category n-is--hide">
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐--66</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
									</ul>
									<ul class="n-nav__flagship-category n-is--hide">
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐--77</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
									</ul>
									<ul class="n-nav__flagship-category n-is--hide">
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐--88</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
									</ul>
									<ul class="n-nav__flagship-category n-is--hide">
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐--99</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
									</ul>
									<ul class="n-nav__flagship-category n-is--hide">
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐--aa</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
									</ul>
									<ul class="n-nav__flagship-category n-is--hide">
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐--bb</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
									</ul>
									<ul class="n-nav__flagship-category n-is--hide">
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐--dd</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
										<li><a href="" title="Dr Irena Eris">Dr Irena Eris</a></li>
										<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
										<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
										<li><a href="" title="O．P．I">O．P．I</a></li>
										<li><a href="" title="ORIKS林心如">ORIKS林心如</a></li>
										<li><a href="" title="Palmer’s 帕瑪氏">Palmer’s 帕瑪氏</a></li>
										<li><a href="" title="WE GO威購百貨館">WE GO威購百貨館</a></li>
										<li><a href="" title="MissHana花娜小姐">MissHana花娜小姐</a></li>
										<li><a href="" title="蘭陵">蘭陵</a></li>
										<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
										<li><a href="" title="Arenes">Arenes</a></li>
									</ul>
								</div>
								
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="電視購物">電視購物</a>
					<div class="n-nav__keywords">
						<a href="" title="美型內衣">美型內衣</a>
						<a href="" title="美白">美白</a>
					</div>
					<div data-submenu-id="subNav2" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品推薦</h3>
								<ul>
									<li><a href="" title="本日強檔熱播">本日強檔熱播</a></li>
									<li><a href="" title="館長推薦">館長推薦</a></li>
									<li><a href="" title="美妝保養">美妝保養</a></li>
									<li><a href="" title="保健專館">保健專館</a></li>
									<li><a href="" title="內著塑衣">內著塑衣</a></li>
									<li><a href="" title="服飾鞋包">服飾鞋包</a></li>
									<li><a href="" title="珠寶精品">珠寶精品</a></li>
									<li><a href="" title="３Ｃ家電">３Ｃ家電</a></li>
									<li><a href="" title="人氣美食">人氣美食</a></li>
									<li><a href="" title="居傢俱寢飾">居傢俱寢飾</a></li>
									<li><a href="" title="超商取貨">超商取貨</a></li>
									<li><a href="" title="品牌旗艦店">品牌旗艦店</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="全館出清outlet">全館出清outlet</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="快速到貨">快速到貨</a>
					<div class="n-nav__keywords">
						<a href="" title="衛生紙">衛生紙</a>
						<a href="" title="好神拖">好神拖</a>
					</div>
					<div data-submenu-id="subNav3" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="衛生紙｜尿布｜清潔">衛生紙｜尿布｜清潔</a></li>
									<li><a href="" title="居家｜餐廚｜婦幼｜寢飾">居家｜餐廚｜婦幼｜寢飾</a></li>
									<li><a href="" title="3C｜家電｜休閒｜汽百">3C｜家電｜休閒｜汽百</a></li>
									<li><a href="" title="服飾｜內衣｜配飾">服飾｜內衣｜配飾</a></li>
									<li><a href="" title="美容｜保健｜食品">美容｜保健｜食品</a></li>
									<li><a href="" title="珠寶｜手錶">珠寶｜手錶</a></li>
									<li><a href="" title="珠寶精品">珠寶精品</a></li>
									<li><a href="" title="情趣用品">情趣用品</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="美妝">美妝</a>
					<div class="n-nav__keywords">
						<a href="" title="敬愛母親">敬愛母親</a>
						<a href="" title="專櫃快配">專櫃快配</a>
					</div>
					<div data-submenu-id="subNav4" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="森森嚴選品牌">森森嚴選品牌</a></li>
									<li><a href="" title="專櫃品牌">專櫃品牌</a></li>
									<li><a href="" title="醫美保養">醫美保養</a></li>
									<li><a href="" title="開架保養">開架保養</a></li>
									<li><a href="" title="時尚彩妝">時尚彩妝</a></li>
									<li><a href="" title="面膜保養">面膜保養</a></li>
									<li><a href="" title="美髮∣造型">美髮∣造型</a></li>
									<li><a href="" title="美材工具小物">美材工具小物</a></li>
									<li><a href="" title="身體保養∣纖體">身體保養∣纖體</a></li>
									<li><a href="" title="香水│香氛│草本">香水│香氛│草本</a></li>
									<li><a href="" title="藍沐│愛喜仕">藍沐│愛喜仕</a></li>
									<li><a href="" title="涼夏專區">涼夏專區</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="【快速到貨】">【快速到貨】</a></li>
									<li><a href="" title="1028 只為更美">1028 只為更美</a></li>
									<li><a href="" title="Arenes">Arenes</a></li>
									<li><a href="" title="Alkmene德國草本">Alkmene德國草本</a></li>
									<li><a href="" title="Bioderma法國貝德瑪">Bioderma法國貝德瑪</a></li>
									<li><a href="" title="BORGHESE貝佳斯">BORGHESE貝佳斯</a></li>
									<li><a href="" title="MILDSKIN">MILDSKIN</a></li>
									<li><a href="" title="ORIKS">ORIKS</a></li>
									<li><a href="" title="STEMCIN">STEMCIN</a></li>
									<li><a href="" title="Sesedior希希娣兒">Sesedior希希娣兒</a></li>
									<li><a href="" title="台糖│LANAMI">台糖│LANAMI</a></li>
									<li><a href="" title="波蘭 Dr.Eris">波蘭 Dr.Eris</a></li>
									<li><a href="" title="船井生醫">船井生醫</a></li>
									<li><a href="" title="藍沐│愛喜仕">藍沐│愛喜仕</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="n-nav__count">1</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="保健">保健</a>
					<div class="n-nav__keywords">
						<a href="" title="換季警報">換季警報</a>
						<a href="" title="熱銷推薦">熱銷推薦</a>
					</div>
					<div data-submenu-id="subNav5" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="美肌美顏">美肌美顏</a></li>
									<li><a href="" title="窈窕保健">窈窕保健</a></li>
									<li><a href="" title="養生調理">養生調理</a></li>
									<li><a href="" title="男仕保健">男仕保健</a></li>
									<li><a href="" title="兒童保健">兒童保健</a></li>
									<li><a href="" title="銀髮保健">銀髮保健</a></li>
									<li><a href="" title="保健用品">保健用品</a></li>
									<li><a href="" title="超值強檔">超值強檔</a></li>
									<li><a href="" title="電視廣告品牌">電視廣告品牌</a></li>
									<li><a href="" title="國外∣原裝品牌">國外∣原裝品牌</a></li>
									<li><a href="" title="生技∣製藥品牌">生技∣製藥品牌</a></li>
									<li><a href="" title="MIT國產品牌">MIT國產品牌</a></li>
									<li><a href="" title="名人代言推薦">名人代言推薦</a></li>
									<li><a href="" title="品牌總覽－依中文字數">品牌總覽－依中文字數</a></li>
									<li><a href="" title="品牌總覽－依中文字數">品牌總覽－依中文字數</a></li>
									<li><a href="" title="新進品牌推薦">新進品牌推薦</a></li>
									<li><a href="" title="熱門飲品">熱門飲品</a></li>
									<li><a href="" title="依適用族群">依適用族群</a></li>
									<li><a href="" title="國家認證∣健食字號">國家認證∣健食字號</a></li>
									<li><a href="" title="任選專區">任選專區</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="【快速到貨】">【快速到貨】</a></li>
									<li><a href="" title="三多">三多</a></li>
									<li><a href="" title="台糖">台糖</a></li>
									<li><a href="" title="李時珍">李時珍</a></li>
									<li><a href="" title="葡萄王">葡萄王</a></li>
									<li><a href="" title="大漢酵素">大漢酵素</a></li>
									<li><a href="" title="船井生醫">船井生醫</a></li>
									<li><a href="" title="遠東生技">遠東生技</a></li>
									<li><a href="" title="華陀扶元堂">華陀扶元堂</a></li>
									<li><a href="" title="LAMOUR 藍沐">LAMOUR 藍沐</a></li>
									<li><a href="" title="NOW 健而婷">NOW 健而婷</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="內塑衣">內塑衣</a>
					<div class="n-nav__keywords">
						<a href="" title="Bra T">Bra T</a>
						<a href="" title="超值強檔">超值強檔</a>
					</div>
					<div data-submenu-id="subNav6" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="強檔促銷">強檔促銷</a></li>
									<li><a href="" title="女性內衣">女性內衣</a></li>
									<li><a href="" title="女性內褲">女性內褲</a></li>
									<li><a href="" title="塑身衣褲">塑身衣褲</a></li>
									<li><a href="" title="男性內著">男性內著</a></li>
									<li><a href="" title="泳裝│泳褲">泳裝│泳褲</a></li>
									<li><a href="" title="睡衣│居家服">睡衣│居家服</a></li>
									<li><a href="" title="情趣服飾">情趣服飾</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="【快速到貨】">【快速到貨】</a></li>
									<li><a href="" title="JB內衣">JB內衣</a></li>
									<li><a href="" title="凡思媚特︱最晶品">凡思媚特︱最晶品</a></li>
									<li><a href="" title="Belvia貝薇雅">Belvia貝薇雅</a></li>
									<li><a href="" title="可蘭霓Clany">可蘭霓Clany</a></li>
									<li><a href="" title="Pink Lady">Pink Lady</a></li>
									<li><a href="" title="天使霓裳AngelHoney">天使霓裳AngelHoney</a></li>
									<li><a href="" title="BeautyFocus">BeautyFocus</a></li>
									<li><a href="" title="Bellewear">Bellewear</a></li>
									<li><a href="" title="Madonna">Madonna</a></li>
									<li><a href="" title="蘇菲娜︱莫妮塔">蘇菲娜︱莫妮塔</a></li>
									<li><a href="" title="櫻桃寶貝">櫻桃寶貝</a></li>
									<li><a href="" title="美國Marena">美國Marena</a></li>
									<li><a href="" title="夏之戀">夏之戀</a></li>
									<li><a href="" title="法國Lytess">法國Lytess</a></li>
									<li><a href="" title="Mollifix瑪莉菲絲">Mollifix瑪莉菲絲</a></li>
									<li><a href="" title="Naya Nina">Naya Nina</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="服飾">服飾</a>
					<div class="n-nav__keywords">
						<a href="" title="季節限定">季節限定</a>
						<a href="" title="人氣夯品">人氣夯品</a>
					</div>
					<div data-submenu-id="subNav7" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="本月超值推薦專區">本月超值推薦專區</a></li>
									<li><a href="" title="休閒機能服">休閒機能服</a></li>
									<li><a href="" title="女性內褲">女性內褲</a></li>
									<li><a href="" title="流行女裝">流行女裝</a></li>
									<li><a href="" title="中大尺碼">中大尺碼</a></li>
									<li><a href="" title="日韓歐美">日韓歐美</a></li>
									<li><a href="" title="百貨專櫃">百貨專櫃</a></li>
									<li><a href="" title="優質男裝">優質男裝</a></li>
									<li><a href="" title="孕婦童裝">孕婦童裝</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="【快速到貨】">【快速到貨】</a></li>
									<li><a href="" title="FILA">FILA</a></li>
									<li><a href="" title="TOP GIRL">TOP GIRL</a></li>
									<li><a href="" title="SOFTSUN">SOFTSUN</a></li>
									<li><a href="" title="金安德森">金安德森</a></li>
									<li><a href="" title="戶外趣">戶外趣</a></li>
									<li><a href="" title="飛狼 Jack Wolfskin">飛狼 Jack Wolfskin</a></li>
									<li><a href="" title="遊遍天下">遊遍天下</a></li>
									<li><a href="" title="KissDiamond">KissDiamond</a></li>
									<li><a href="" title="MJ3">MJ3</a></li>
									<li><a href="" title="MYVEGA麥雪爾">MYVEGA麥雪爾</a></li>
									<li><a href="" title="I－Sweety">I－Sweety</a></li>
									<li><a href="" title="Jisen">Jisen</a></li>
									<li><a href="" title="菟絲花">菟絲花</a></li>
									<li><a href="" title="BELLAVITA蠶絲">BELLAVITA蠶絲</a></li>
									<li><a href="" title="RN－girls">RN－girls</a></li>
									<li><a href="" title="ROFFLY">ROFFLY</a></li>
									<li><a href="" title="MONS">MONS</a></li>
									<li><a href="" title="Moriya日森系">Moriya日森系</a></li>
									<li><a href="" title="Sweet Dress">Sweet Dress</a></li>
									<li><a href="" title="Bubble❤CoCo">Bubble❤CoCo</a></li>
									<li><a href="" title="WOMA">WOMA</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="鞋包">鞋包</a>
					<div class="n-nav__keywords">
						<a href="" title="超值下殺">超值下殺</a>
						<a href="" title="男包">男包</a>
					</div>
					<div data-submenu-id="subNav8" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="強檔促銷">強檔促銷</a></li>
									<li><a href="" title="女包">女包</a></li>
									<li><a href="" title="女鞋">女鞋</a></li>
									<li><a href="" title="男包">男包</a></li>
									<li><a href="" title="運動｜休閒包">運動｜休閒包</a></li>
									<li><a href="" title="男鞋">男鞋</a></li>
									<li><a href="" title="童鞋">童鞋</a></li>
									<li><a href="" title="運動｜休閒鞋">運動｜休閒鞋</a></li>
									<li><a href="" title="穿搭配件">穿搭配件</a></li>
									<li><a href="" title="流行飾品">流行飾品</a></li>
									<li><a href="" title="襪類｜鞋材">襪類｜鞋材</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="【快速到貨】">【快速到貨】</a></li>
									<li><a href="" title="88Queen">88Queen</a></li>
									<li><a href="" title="Alice">Alice</a></li>
									<li><a href="" title="AIRWALK">AIRWALK</a></li>
									<li><a href="" title="BEIBAOBAO">BEIBAOBAO</a></li>
									<li><a href="" title="DAV DANNY">DAV DANNY</a></li>
									<li><a href="" title="EOWYN">EOWYN</a></li>
									<li><a href="" title="FUFA 富發">FUFA 富發</a></li>
									<li><a href="" title="Love Girl">Love Girl</a></li>
									<li><a href="" title="M2nd｜Goleys">M2nd｜Goleys</a></li>
									<li><a href="" title="Messa米莎">Messa米莎</a></li>
									<li><a href="" title="MIYUNA 真皮">MIYUNA 真皮</a></li>
									<li><a href="" title="Jisen">Jisen</a></li>
									<li><a href="" title="Sarlisi夏麗絲">Sarlisi夏麗絲</a></li>
									<li><a href="" title="Travel Fox 旅狐">Travel Fox 旅狐</a></li>
									<li><a href="" title="阿卡天使">阿卡天使</a></li>
									<li><a href="" title="金安德森－皮件">金安德森－皮件</a></li>
									<li><a href="" title="太妃糖">太妃糖</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="精品珠寶">精品珠寶</a>
					<div class="n-nav__keywords">
						<a href="" title="COACH">COACH</a>
						<a href="" title="鑽戒">鑽戒</a>
					</div>
					<div data-submenu-id="subNav9" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="歐系精品">歐系精品</a></li>
									<li><a href="" title="美日系精品">美日系精品</a></li>
									<li><a href="" title="瑞士｜德國錶">瑞士｜德國錶</a></li>
									<li><a href="" title="旗艦精品錶">旗艦精品錶</a></li>
									<li><a href="" title="專櫃錶">專櫃錶</a></li>
									<li><a href="" title="流行錶">流行錶</a></li>
									<li><a href="" title="眼鏡｜名筆｜圍巾">眼鏡｜名筆｜圍巾</a></li>
									<li><a href="" title="運動｜休閒鞋">運動｜休閒鞋</a></li>
									<li><a href="" title="鑽石">鑽石</a></li>
									<li><a href="" title="珠寶｜玉石">珠寶｜玉石</a></li>
									<li><a href="" title="黃金│鉑金│藝術品">黃金│鉑金│藝術品</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="LV">LV</a></li>
									<li><a href="" title="CHANEL">CHANEL</a></li>
									<li><a href="" title="COACH">COACH</a></li>
									<li><a href="" title="GUCCI">GUCCI</a></li>
									<li><a href="" title="LONGCHAMP">LONGCHAMP</a></li>
									<li><a href="" title="SEIKO">SEIKO</a></li>
									<li><a href="" title="CASIO">CASIO</a></li>
									<li><a href="" title="CITIZEN星辰">CITIZEN星辰</a></li>
									<li><a href="" title="TISSOT 天梭">TISSOT 天梭</a></li>
									<li><a href="" title="LONGINES浪琴">LONGINES浪琴</a></li>
									<li><a href="" title="ORIS">ORIS</a></li>
									<li><a href="" title="亞帝芬奇">亞帝芬奇</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="3C">3C</a>
					<div class="n-nav__keywords">
						<a href="" title="華碩NB">華碩NB</a>
						<a href="" title="隨身硬碟">隨身硬碟</a>
					</div>
					<div data-submenu-id="subNav10" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="APPLE">APPLE</a></li>
									<li><a href="" title="筆記型電腦">筆記型電腦</a></li>
									<li><a href="" title="桌上型電腦">桌上型電腦</a></li>
									<li><a href="" title="平板電腦">平板電腦</a></li>
									<li><a href="" title="電腦螢幕">電腦螢幕</a></li>
									<li><a href="" title="儲存卡碟">儲存卡碟</a></li>
									<li><a href="" title="網路設備">網路設備</a></li>
									<li><a href="" title="電玩">電玩</a></li>
									<li><a href="" title="鑽石">鑽石</a></li>
									<li><a href="" title="電腦周邊">電腦周邊</a></li>
									<li><a href="" title="印表機│掃描器│周邊">印表機│掃描器│周邊</a></li>
									<li><a href="" title="電競專區">電競專區</a></li>
								</ul>

							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="ASUS 華碩">ASUS 華碩</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="家電">家電</a>
					<div class="n-nav__keywords">
						<a href="" title="電風扇">電風扇</a>
						<a href="" title="除濕機">除濕機</a>
					</div>
					<div data-submenu-id="subNav11" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="廚房家電">廚房家電</a></li>
									<li><a href="" title="季節家電">季節家電</a></li>
									<li><a href="" title="生活家電">生活家電</a></li>
									<li><a href="" title="影音家電">影音家電</a></li>
									<li><a href="" title="美容 ｜ 健康">美容 ｜ 健康</a></li>
									<li><a href="" title="冷暖空調">冷暖空調</a></li>
									<li><a href="" title="洗衣│乾衣機">洗衣│乾衣機</a></li>
									<li><a href="" title="電冰箱">電冰箱</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="【快速到貨】">【快速到貨】</a></li>
									<li><a href="" title="dyson戴森 旗艦館">dyson戴森 旗艦館</a></li>
									<li><a href="" title="PHILIPS飛利浦">PHILIPS飛利浦</a></li>
									<li><a href="" title="Panasonic國際">Panasonic國際</a></li>
									<li><a href="" title="Electrolux伊萊克斯">Electrolux伊萊克斯</a></li>
									<li><a href="" title="Hitachi日立">Hitachi日立</a></li>
									<li><a href="" title="Tatung大同">Tatung大同</a></li>
									<li><a href="" title="台灣三洋">台灣三洋</a></li>
									<li><a href="" title="3M家電">3M家電</a></li>
									<li><a href="" title="日本TANITA">日本TANITA</a></li>
									<li><a href="" title="九陽Joyoung">九陽Joyoung</a></li>
									<li><a href="" title="象印ZOJIRUSHI">象印ZOJIRUSHI</a></li>
									<li><a href="" title="美國VitaMix">美國VitaMix</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="手機相機">手機相機</a>
					<div class="n-nav__keywords">
						<a href="" title="iPhone">iPhone</a>
						<a href="" title="三星">三星</a>
					</div>
					<div data-submenu-id="subNav12" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="智慧手機">智慧手機</a></li>
									<li><a href="" title="一般手機">一般手機</a></li>
									<li><a href="" title="手機配件">手機配件</a></li>
									<li><a href="" title="單眼相機｜鏡頭">單眼相機｜鏡頭</a></li>
									<li><a href="" title="數位相機｜攝影機">數位相機｜攝影機</a></li>
									<li><a href="" title="相機周邊">相機周邊</a></li>
									<li><a href="" title="Apple專館">Apple專館</a></li>
									<li><a href="" title="電冰箱">電冰箱</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="【快速到貨】">【快速到貨】</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="n-nav__count">3</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="旅遊">旅遊</a>
					<div class="n-nav__keywords">
						<a href="" title="新迪士尼">新迪士尼</a>
						<a href="" title="暑假">暑假</a>
					</div>
					<div data-submenu-id="subNav13" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="東北亞│長程線">東北亞│長程線</a></li>
									<li><a href="" title="東南亞│島嶼">東南亞│島嶼</a></li>
									<li><a href="" title="中國大陸">中國大陸</a></li>
									<li><a href="" title="香港│澳門">香港│澳門</a></li>
									<li><a href="" title="島嶼假期">島嶼假期</a></li>
									<li><a href="" title="自由行│郵輪">自由行│郵輪</a></li>
									<li><a href="" title="北台灣">北台灣</a></li>
									<li><a href="" title="中台灣">中台灣</a></li>
									<li><a href="" title="南台灣">南台灣</a></li>
									<li><a href="" title="東台灣│離島">東台灣│離島</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="電視商品 現折100">電視商品 現折100</a></li>
									<li><a href="" title="暑假早鳥搶購">暑假早鳥搶購</a></li>
									<li><a href="" title="東森渡假酒店">東森渡假酒店</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="美食">美食</a>
					<div class="n-nav__keywords">
						<a href="" title="滴雞精">滴雞精</a>
						<a href="" title="椰子油">椰子油</a>
					</div>
					<div data-submenu-id="subNav14" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="生鮮｜蔬果">生鮮｜蔬果</a></li>
									<li><a href="" title="休閒零食">休閒零食</a></li>
									<li><a href="" title="蛋糕｜甜點">蛋糕｜甜點</a></li>
									<li><a href="" title="熟食｜菜餚｜小吃">熟食｜菜餚｜小吃</a></li>
									<li><a href="" title="料理用油">料理用油</a></li>
									<li><a href="" title="自由行│郵輪">自由行│郵輪</a></li>
									<li><a href="" title="調味｜米麵｜雜貨">調味｜米麵｜雜貨</a></li>
									<li><a href="" title="茶葉｜茶包">茶葉｜茶包</a></li>
									<li><a href="" title="沖泡飲品│咖啡">沖泡飲品│咖啡</a></li>
									<li><a href="" title="飲料｜水">飲料｜水</a></li>
									<li><a href="" title="滋補｜纖體｜有機">滋補｜纖體｜有機</a></li>
									<li><a href="" title="票券專區">票券專區</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="【快速到貨】">【快速到貨】</a></li>
									<li><a href="" title="買新鮮">買新鮮</a></li>
									<li><a href="" title="大嘴鳥易購">大嘴鳥易購</a></li>
									<li><a href="" title="台北濱江">台北濱江</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="居家">居家</a>
					<div class="n-nav__keywords">
						<a href="" title="保溫杯瓶">保溫杯瓶</a>
						<a href="" title="收納">收納</a>
					</div>
					<div data-submenu-id="subNav15" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="衛生紙｜棉｜尿布">衛生紙｜棉｜尿布</a></li>
									<li><a href="" title="個人清潔">個人清潔</a></li>
									<li><a href="" title="衣物｜居家清潔">衣物｜居家清潔</a></li>
									<li><a href="" title="鍋具碗盤">鍋具碗盤</a></li>
									<li><a href="" title="餐廚用品">餐廚用品</a></li>
									<li><a href="" title="咖啡｜保溫杯瓶">咖啡｜保溫杯瓶</a></li>
									<li><a href="" title="收納用品">收納用品</a></li>
									<li><a href="" title="衛浴｜餐廚設備">衛浴｜餐廚設備</a></li>
									<li><a href="" title="除濕｜香氛｜雜貨">除濕｜香氛｜雜貨</a></li>
									<li><a href="" title="書籍｜影音｜樂器">書籍｜影音｜樂器</a></li>
									<li><a href="" title="防蚊｜雨具">防蚊｜雨具</a></li>
									<li><a href="" title="照明修繕｜園藝">照明修繕｜園藝</a></li>
									<li><a href="" title="醫療用品">醫療用品</a></li>
									<li><a href="" title="寵物百貨">寵物百貨</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="【快速到貨】">【快速到貨】</a></li>
									<li><a href="" title="樂扣樂扣">樂扣樂扣</a></li>
									<li><a href="" title="日本象印">日本象印</a></li>
									<li><a href="" title="Tiamo">Tiamo</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="婦幼">婦幼</a>
					<div class="n-nav__keywords">
						<a href="" title="手推車">手推車</a>
						<a href="" title="尿布">尿布</a>
					</div>
					<div data-submenu-id="subNav16" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="嬰幼用品">嬰幼用品</a></li>
									<li><a href="" title="孕期｜產後用品">孕期｜產後用品</a></li>
									<li><a href="" title="衣物｜居家清潔">衣物｜居家清潔</a></li>
									<li><a href="" title="尿布｜濕紙巾｜衛生棉">尿布｜濕紙巾｜衛生棉</a></li>
									<li><a href="" title="嬰嬰童鞋 ｜ 襪">嬰嬰童鞋 ｜ 襪</a></li>
									<li><a href="" title="文具｜書包">文具｜書包</a></li>
									<li><a href="" title="玩具夢工廠">玩具夢工廠</a></li>
									<li><a href="" title="醫療用品">醫療用品</a></li>
									<li><a href="" title="銀髮生活">銀髮生活</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="【快速到貨】">【快速到貨】</a></li>
									<li><a href="" title="Simba小獅王辛巴">Simba小獅王辛巴</a></li>
									<li><a href="" title="魔法Baby">魔法Baby</a></li>
									<li><a href="" title="阿拉丁玩具夢工場">阿拉丁玩具夢工場</a></li>
									<li><a href="" title="Gennie’s奇妮">Gennie’s奇妮</a></li>
									<li><a href="" title="ohoh－mini 孕婦裝">ohoh－mini 孕婦裝</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="運動│車">運動│車</a>
					<div class="n-nav__keywords">
						<a href="" title="機車">機車</a>
						<a href="" title="行李箱">行李箱</a>
					</div>
					<div data-submenu-id="subNav17" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="機車│機車用品">機車│機車用品</a></li>
									<li><a href="" title="GPS│記錄測速器">GPS│記錄測速器</a></li>
									<li><a href="" title="汽百│周邊">汽百│周邊</a></li>
									<li><a href="" title="健身│按摩">健身│按摩</a></li>
									<li><a href="" title="運動│背包">運動│背包</a></li>
									<li><a href="" title="自行車│周邊">自行車│周邊</a></li>
									<li><a href="" title="露營│休閒">露營│休閒</a></li>
									<li><a href="" title="情趣用品（限）">情趣用品（限）</a></li>
									<li><a href="" title="銀髮生活">銀髮生活</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【福利品專區】">【福利品專區】</a></li>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="【快速到貨】">【快速到貨】</a></li>
									<li><a href="" title="YAMAHA山葉">YAMAHA山葉</a></li>
									<li><a href="" title="KYMCO光陽">KYMCO光陽</a></li>
									<li><a href="" title="SYM三陽">SYM三陽</a></li>
									<li><a href="" title="TOKUYO 督洋">TOKUYO 督洋</a></li>
									<li><a href="" title="Jack Wolfskin飛狼">Jack Wolfskin飛狼</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
				<li>
					<a class="n-nav__catalog" href="" title="傢俱寢飾">傢俱寢飾</a>
					<div class="n-nav__keywords">
						<a href="" title="蚊帳">蚊帳</a>
						<a href="" title="床包出清">床包出清</a>
					</div>
					<div data-submenu-id="subNav18" class="n-nav__sub">
						<div class="n-nav__catalog-box n-left">
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">商品分類</h3>
								<ul>
									<li><a href="" title="寢具">寢具</a></li>
									<li><a href="" title="品牌寢具">品牌寢具</a></li>
									<li><a href="" title="床墊">床墊</a></li>
									<li><a href="" title="床組│床架">床組│床架</a></li>
									<li><a href="" title="沙發│沙發床│躺椅">沙發│沙發床│躺椅</a></li>
									<li><a href="" title="客廳家具">客廳家具</a></li>
									<li><a href="" title="臥室家具">臥室家具</a></li>
									<li><a href="" title="書房│辦公家具">書房│辦公家具</a></li>
									<li><a href="" title="餐廚家具">餐廚家具</a></li>
									<li><a href="" title="家飾百貨">家飾百貨</a></li>
									<li><a href="" title="宗教│藝術">宗教│藝術</a></li>
								</ul>
							</div>
							<div class="n-nav__catalog-sub">
								<h3 class="n-nav__caption">推薦品牌</h3>
								<ul>
									<li><a href="" title="【電視購物】">【電視購物】</a></li>
									<li><a href="" title="【快速到貨】">【快速到貨】</a></li>
									<li><a href="" title="LooCa">LooCa</a></li>
									<li><a href="" title="1／3 A Life">1／3 A Life</a></li>
									<li><a href="" title="H＆D">H＆D</a></li>
									<li><a href="" title="YKSHOUSE">YKSHOUSE</a></li>
									<li><a href="" title="時尚屋">時尚屋</a></li>
									<li><a href="" title="契斯特">契斯特</a></li>
									<li><a href="" title="潮傢俬">潮傢俬</a></li>
								</ul>
							</div>
						</div>
						<div class="n-nav__promo n-right">
							<ul class="n-nav__promo-two">
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic01.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
										<div class="n-pic n-left"><img src="img201607/nav/pd-pic02.png" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員精選組</div>
										<div class="n-price--lv1">
											$ <span>799</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="n-nav__promo-single">
								<a href="#" title="鍋寶304不銹鋼電鍋會員精選組">
									<div class="n-pd__box">
										<div class="n-pd_name">鍋寶304不銹鋼電鍋會員</div>
										<div class="n-pd__sub">追劇神器全面下殺</div>
									</div>
									<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-11.jpg" alt="鍋寶304不銹鋼電鍋會員精選組"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="is-hover--bg"></div>
				</li>
			</ul>
		</nav>
		<ul class="n-nav__hotkeyword n-left">
			<li><a href="" title="暑假玩全新迪士尼">暑假玩全新迪士尼</a></li>
			<li><a href="" title="按摩椅送機票">按摩椅送機票</a></li>
			<li><a href="" title="舒適Bra Top 7折up">舒適Bra Top 7折up</a></li>
			<li><a href="" title="DC變頻風扇">DC變頻風扇</a></li>
			<li><a href="" title="PK專櫃1折起">PK專櫃1折起</a></li>
			<li><a href="" title="今日降價品">今日降價品</a></li>
			<li><a href="" title="TV商品折100">TV商品折100</a></li>
		</ul>
	</div>
</div>
