/**
 * Set up Etmall site variable
 */

/* Primary color setting
   ========================================================================== */

$c-primary: #F01400;
$c-deep-pink: #FF4646;

// $pink: #e00061;
// $pink-light: #ff6692;
// $pink-lighter: #fff3f3;
// $pink-light-dark: darken($pink-light, 10%);

/* Gray color setting
   ========================================================================== */

$c-gray-darker: #2d2d2d;
$c-gray: #525252;
$gray-gainsboro: #e1e1e1;
$c-lightgray: #ededed;
$c-bodygray: #999999;
$gray-subduedgray: #f3f3f3;
$c-subduedgray: #f7f7f7;


$yellow: #EBAD28;
$yellow-light: #fffde8;


// $gray-dark: #323232;
// $gray-light: #5d5d5d;
// $c-bodygray: #999999;
// $gray-lighter: #bdbdbd;
// 
// $gray-ivory: #dddddd;
// 
// $gray-ghost-white: #f9f9f9;
// 

// $yellow: #f1f113;
// $yellow-light: #fffde8;

/* font color setting
   ========================================================================== */

$c-white: #fff;
$c-blue: #005599;

/* Category color setting
   ========================================================================== */

$denim: #1b69cd;
$cerulean: #0aaae6;
$french-rose: #f25a90;
$lavender: #c175d9;
$deluge: #8758a7;
$persian-pink: #f786a6;
$locust: #a5ad8a;
$celery: #acc253;
$apple: #59bf43;
$golden-grass: #daab1d;


/* Font family setting
   ========================================================================== */

$font-family-ch: 'LiHei Pro',"Microsoft JhengHei","PMingLiU","微軟正黑體","新細明體";
$font-family-en: Arial, Helvetica, sans-serif, "Lucida Sans Unicode";

