.autocomplete-suggestions {
    text-align: left; 
    cursor: pointer;
    border: 1px solid #e1e1e1;  
    background-color: #fff; 
    box-shadow: -1px 1px 3px rgba(45,45,45,.1);
    /* core styles should not be changed */
    position: absolute; 
    display: none; 
    z-index: 9999; 
    max-height: 254px; 
    overflow: hidden; 
    overflow-y: auto; 
    box-sizing: border-box;
}
.autocomplete-suggestion { 
	position: relative; 
	padding: 8px 10px; 
	line-height: 1.8; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	font-size: 13px;
	font-size: 1.3rem; 
	color: #525252; }
.autocomplete-suggestion b { 
	font-weight: normal; 
	color: #1f8dd6; }
.autocomplete-suggestion.selected { 
	background-color: #f3f3f3; 
	color: #ff4646;
}
.autocomplete-suggestion span{
	float:right;
	text-align:right;
}