<div class="n-banner__wrap">
	<div id="navFake" class="n-content__nav-fake"></div>
	<section id="mainBanner" class="n-banner__area">
		<div class="n-banner__main">
			<div class="n-banner__box">
				<div class="n-banner__ad n-left">
					<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)"><img src="img201607/banner/bn01.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></a>
				</div>
				<ul class="n-banner__promo n-right n-hover--img">
					<li>
						<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)">
							<div class="n-pic n-left"><img src="img201607/banner/pic90.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></div>
							<div class="n-pd_name">JS婕洛妮絲防水眼線液超值六入組(限量出清)</div>
							<div class="n-price--lv1">$ <span>1,299</span></div>
						</a>
					</li>
					<li>
						<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)">
							<div class="n-pic n-left"><img src="img201607/banner/pic90_2.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></div>
							<div class="n-pd_name">JS婕洛妮絲防水眼線液超值六入組(限量出清)</div>
							<div class="n-price--lv1">$ <span>1,299</span></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="n-banner__theme" style="background-color: #e1e1e1"></div>
		</div>
		<div class="n-banner__main">
			<div class="n-banner__box">
				<div class="n-banner__ad n-left">
					<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)"><img src="img201607/banner/bn02.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></a>
				</div>
				<ul class="n-banner__promo n-right n-hover--img">
					<li>
						<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)">
							<div class="n-pic n-left"><img src="img201607/banner/pic90.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></div>
							<div class="n-pd_name">JS婕洛妮絲防水眼線液超值六入組(限量出清)</div>
							<div class="n-price--lv1">$ <span>1,299</span></div>
						</a>
					</li>
					<li>
						<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)">
							<div class="n-pic n-left"><img src="img201607/banner/pic90_2.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></div>
							<div class="n-pd_name">JS婕洛妮絲防水眼線液超值六入組(限量出清)</div>
							<div class="n-price--lv1">$ <span>1,299</span></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="n-banner__theme" style="background-color: #398683"></div>
		</div>
		<div class="n-banner__main">
			<div class="n-banner__box">
				<div class="n-banner__ad n-left">
					<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)"><img src="img201607/banner/bn01.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></a>
				</div>
				<ul class="n-banner__promo n-right n-hover--img">
					<li>
						<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)">
							<div class="n-pic n-left"><img src="img201607/banner/pic90.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></div>
							<div class="n-pd_name">JS婕洛妮絲防水眼線液超值六入組(限量出清)</div>
							<div class="n-price--lv1">$ <span>1,299</span></div>
						</a>
					</li>
					<li>
						<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)">
							<div class="n-pic n-left"><img src="img201607/banner/pic90_2.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></div>
							<div class="n-pd_name">JS婕洛妮絲防水眼線液超值六入組(限量出清)</div>
							<div class="n-price--lv1">$ <span>1,299</span></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="n-banner__theme" style="background-color: #e1e1e1"></div>
		</div>
		<div class="n-banner__main">
			<div class="n-banner__box">
				<div class="n-banner__ad n-left">
					<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)"><img src="img201607/banner/bn02.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></a>
				</div>
				<ul class="n-banner__promo n-right n-hover--img">
					<li>
						<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)">
							<div class="n-pic n-left"><img src="img201607/banner/pic90.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></div>
							<div class="n-pd_name">JS婕洛妮絲防水眼線液超值六入組(限量出清)</div>
							<div class="n-price--lv1">$ <span>1,299</span></div>
						</a>
					</li>
					<li>
						<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)">
							<div class="n-pic n-left"><img src="img201607/banner/pic90_2.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></div>
							<div class="n-pd_name">JS婕洛妮絲防水眼線液超值六入組(限量出清)</div>
							<div class="n-price--lv1">$ <span>1,299</span></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="n-banner__theme" style="background-color: #398683"></div>
		</div>
		<div class="n-banner__main">
			<div class="n-banner__box">
				<div class="n-banner__ad n-left">
					<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)"><img src="img201607/banner/bn01.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></a>
				</div>
				<ul class="n-banner__promo n-right n-hover--img">
					<li>
						<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)">
							<div class="n-pic n-left"><img src="img201607/banner/pic90.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></div>
							<div class="n-pd_name">JS婕洛妮絲防水眼線液超值六入組(限量出清)</div>
							<div class="n-price--lv1">$ <span>1,299</span></div>
						</a>
					</li>
					<li>
						<a href="" title="JS婕洛妮絲防水眼線液超值六入組(限量出清)">
							<div class="n-pic n-left"><img src="img201607/banner/pic90_2.png" alt="JS婕洛妮絲防水眼線液超值六入組(限量出清)"></div>
							<div class="n-pd_name">JS婕洛妮絲防水眼線液超值六入組(限量出清)</div>
							<div class="n-price--lv1">$ <span>1,299</span></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="n-banner__theme" style="background-color: #e1e1e1"></div>
		</div>
		<div id="bannerNav" class="n-banner__nav"></div>	
	</section>
</div>