<div class="n-l-row__ad">
	<a href="" title="kotipesä 灰色"><img src="img201607/content/bn395-04.png" alt="kotipesä 灰色"></a>
	<a href="" title="kotipesä 灰色"><img src="img201607/content/bn395-05.png" alt="kotipesä 灰色"></a>
	<a href="" title="kotipesä 灰色"><img src="img201607/content/bn395-06.png" alt="kotipesä 灰色"></a>
</div>
<section id="categItem4" class="n-l-row30 n-category__wrap">
	<div class="n-category__title">
		<h2 class="title--lv2 n-left">精品鞋包</h2>
		<ul class="n-category__links n-right">
			<li><a href="" title="超夯瘋平板超夯瘋平板">超夯瘋平板超夯瘋平板</a></li>
			<li><a href="" title="超夯瘋平板超夯瘋平板">超夯瘋平板超夯瘋平板</a></li>
			<li><a href="" title="超夯瘋平板超夯瘋平板">超夯瘋平板超夯瘋平板</a></li>
			<li><a href="" title="超夯瘋平板超夯瘋平板">超夯瘋平板超夯瘋平板</a></li>
		</ul>
	</div>
	<div class="n-category__box n-hover--img">
		<figure class="n-category__pic n-left">
			<a href="" title="迎夏購物季 挑戰超低價挑戰">
				<img src="img201607/content/bg-180x400-jewels.png" alt="迎夏購物季 挑戰超低價挑戰">
				<figcaption class="n-category__txt n-color--deluge"><p>迎夏購物季 挑戰超低價挑戰</p></figcaption>
			</a>
		</figure>
		<ul class="n-category__list n-left">
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-01.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-02.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-03.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-04.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-05.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-06.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-07.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-08.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
		</ul>
	</div>
</section>
<section id="categItem5" class="n-l-row30 n-category__wrap">
	<div class="n-category__title">
		<h2 class="title--lv2 n-left">傢居寢具</h2>
		<ul class="n-category__links n-right">
			<li><a href="" title="超夯瘋平板超夯瘋平板">超夯瘋平板超夯瘋平板</a></li>
			<li><a href="" title="超夯瘋平板超夯瘋平板">超夯瘋平板超夯瘋平板</a></li>
			<li><a href="" title="超夯瘋平板超夯瘋平板">超夯瘋平板超夯瘋平板</a></li>
			<li><a href="" title="超夯瘋平板超夯瘋平板">超夯瘋平板超夯瘋平板</a></li>
		</ul>
	</div>
	<div class="n-category__box n-hover--img">
		<figure class="n-category__pic n-left">
			<a href="" title="迎夏購物季 挑戰超低價挑戰">
				<img src="img201607/content/bg-180x400-beds.png" alt="迎夏購物季 挑戰超低價挑戰">
				<figcaption class="n-category__txt n-color--persian-pink"><p>迎夏購物季 挑戰超低價挑戰</p></figcaption>
			</a>
		</figure>
		<ul class="n-category__list n-left">
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-01.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-02.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-03.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-04.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-05.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-06.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-07.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-08.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
		</ul>
	</div>
</section>
<section id="categItem6" class="n-l-row30 n-category__wrap">
	<div class="n-category__title">
		<h2 class="title--lv2 n-left">服飾內著</h2>
		<ul class="n-category__links n-right">
			<li><a href="" title="超夯瘋平板超夯瘋平板">超夯瘋平板超夯瘋平板</a></li>
			<li><a href="" title="超夯瘋平板超夯瘋平板">超夯瘋平板超夯瘋平板</a></li>
			<li><a href="" title="超夯瘋平板超夯瘋平板">超夯瘋平板超夯瘋平板</a></li>
			<li><a href="" title="超夯瘋平板超夯瘋平板">超夯瘋平板超夯瘋平板</a></li>
		</ul>
	</div>
	<div class="n-category__box n-hover--img">
		<figure class="n-category__pic n-left">
			<a href="" title="迎夏購物季 挑戰超低價挑戰">
				<img src="img201607/content/bg-180x400-clothing.png" alt="迎夏購物季 挑戰超低價挑戰">
				<figcaption class="n-category__txt n-color--french-rose"><p>迎夏購物季 挑戰超低價挑戰</p></figcaption>
			</a>
		</figure>
		<ul class="n-category__list n-left">
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-01.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-02.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-03.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-04.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-05.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-06.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-07.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
			<li>
				<a href="" title="iPhone Lightning 原廠認證充電…">
					<div class="n-pic"><img src="img201607/pdimg/content/3c-pic-08.png" alt="iPhone Lightning 原廠認證充電…"></div>
					<div class="n-pd_name">iPhone Lightning 原廠認證充電…</div>
					<div class="n-price--lv1">$ <span>1,299</span></div>
				</a>
			</li>
		</ul>
	</div>
</section>