<div class="n-content n-layout">
	<div class="n-l-aside n-left">
		<section class="n-rank__wrap">
			<ul id="rankTab" class="n-rank__nav">
				<li class="current"><a href="#rankList1" title="電視 TOP 30">電視 TOP 30</a></li>
				<li><a href="#rankList2" title="網路 TOP 30">網路 TOP 30</a></li>
			</ul>
			<ul id="rankList1" class="n-rank__list n-hover--img">
				<li>
					<a href="" title="YOUNGBABY中大碼】MIT">
						<div class="n-pic"><img src="img201607/pdimg/rank/pic01.png" alt="YOUNGBABY中大碼】MIT  ..."></div>
						<div class="n-pd_name">YOUNGBABY中大碼】MIT  ...</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
						<div class="n-rank__flag">
							<div class="n-rank__num">1</div>
							<div class="n-rank__flag-bg"></div>
						</div>
					</a>
				</li>
				<li>
					<a href="" title="YOUNGBABY中大碼】MIT">
						<div class="n-pic"><img src="img201607/pdimg/rank/pic02.png" alt="YOUNGBABY中大碼】MIT  ..."></div>
						<div class="n-pd_name">YOUNGBABY中大碼】MIT  ...</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
						<div class="n-rank__flag">
							<div class="n-rank__num">2</div>
							<div class="n-rank__flag-bg"></div>
						</div>
					</a>
				</li>
				<li>
					<a href="" title="YOUNGBABY中大碼】MIT">
						<div class="n-pic"><img src="img201607/pdimg/rank/pic03.png" alt="YOUNGBABY中大碼】MIT  ..."></div>
						<div class="n-pd_name">YOUNGBABY中大碼】MIT  ...</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
						<div class="n-rank__flag">
							<div class="n-rank__num">3</div>
							<div class="n-rank__flag-bg"></div>
						</div>
					</a>
				</li>
				<li>
					<a href="" title="YOUNGBABY中大碼】MIT">
						<div class="n-pic"><img src="img201607/pdimg/rank/pic04.png" alt="YOUNGBABY中大碼】MIT  ..."></div>
						<div class="n-pd_name">YOUNGBABY中大碼】MIT  ...</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<li>
					<a href="" title="YOUNGBABY中大碼】MIT">
						<div class="n-pic"><img src="img201607/pdimg/rank/pic05.png" alt="YOUNGBABY中大碼】MIT  ..."></div>
						<div class="n-pd_name">YOUNGBABY中大碼】MIT  ...</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<a href="" class="n-rank__more" title="更多電視熱銷商品"><span>更多電視熱銷商品</span></a>
			</ul>
			<ul id="rankList2" class="n-rank__list n-hover--img n-is--hide">
				<li>
					<a href="" title="YOUNGBABY中大碼】MIT">
						<div class="n-pic"><img src="img201607/pdimg/rank/pic01.png" alt="YOUNGBABY中大碼】MIT  ..."></div>
						<div class="n-pd_name">YOUNGBABY中大碼】MIT  ...</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
						<div class="n-rank__flag">
							<div class="n-rank__num">1</div>
							<div class="n-rank__flag-bg"></div>
						</div>
					</a>
				</li>
				<li>
					<a href="" title="YOUNGBABY中大碼】MIT">
						<div class="n-pic"><img src="img201607/pdimg/rank/pic02.png" alt="YOUNGBABY中大碼】MIT  ..."></div>
						<div class="n-pd_name">YOUNGBABY中大碼】MIT  ...</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
						<div class="n-rank__flag">
							<div class="n-rank__num">2</div>
							<div class="n-rank__flag-bg"></div>
						</div>
					</a>
				</li>
				<li>
					<a href="" title="YOUNGBABY中大碼】MIT">
						<div class="n-pic"><img src="img201607/pdimg/rank/pic03.png" alt="YOUNGBABY中大碼】MIT  ..."></div>
						<div class="n-pd_name">YOUNGBABY中大碼】MIT  ...</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
						<div class="n-rank__flag">
							<div class="n-rank__num">3</div>
							<div class="n-rank__flag-bg"></div>
						</div>
					</a>
				</li>
				<li>
					<a href="" title="YOUNGBABY中大碼】MIT">
						<div class="n-pic"><img src="img201607/pdimg/rank/pic04.png" alt="YOUNGBABY中大碼】MIT  ..."></div>
						<div class="n-pd_name">YOUNGBABY中大碼】MIT  ...</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<li>
					<a href="" title="YOUNGBABY中大碼】MIT">
						<div class="n-pic"><img src="img201607/pdimg/rank/pic05.png" alt="YOUNGBABY中大碼】MIT  ..."></div>
						<div class="n-pd_name">YOUNGBABY中大碼】MIT  ...</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<a href="" class="n-rank__more" title="更多網路熱銷商品"><span>更多網路熱銷商品</span></a>
			</ul>
		</section>
		<aside class="n-fb__warp">
			<div class="fb-page" data-href="https://www.facebook.com/Umallgetmore" data-tabs="timeline" data-width="230px" data-height="340" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Umallgetmore"><a href="https://www.facebook.com/Umallgetmore">森森購物網</a></blockquote></div></div>
		</aside>
	</div>
	<div class="n-l-main n-l-row20 n-left">
		<section class="n-left n-main__wrap">
			<div class="n-l__title n-main__title">
				<h2 class="title--lv2 n-left"><i class="n-icon--tv"></i>電視購物</h2>
				<span class="n-main__title-tips">下單折100</span>
				<ul class="n-main__tv-nav n-right">
					<li><a href="" title="CH80">CH80</a></li>
					<li><a href="" title="更多節目">更多節目</a></li>
				</ul>
			</div>
			<ul class="n-main__list n-main__list-tv">
				<li>
					<figure class="n-pic n-left"><img src="img201607/pdimg/content/pic-150-01.png" alt="【MIYUNA】首爾時尚FLO韓國"></figure>
					<div class="n-main__detail n-left">
						<div class="n-pd_name">【MIYUNA】首爾時尚FLO韓國防潑水牛皮全真皮後揹包(五色選)</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
						<a href="" class="n-btn n-btn--primary" title="立即購">立即購</a>
					</div>
					<div class="n-main--channel">CH46</div>	
				</li>
				<li>
					<figure class="n-pic n-left"><img src="img201607/pdimg/content/pic-150-01.png" alt="【MIYUNA】首爾時尚FLO韓國"></figure>
					<div class="n-main__detail n-left">
						<div class="n-pd_name">【MIYUNA】首爾時尚FLO韓國防潑水牛皮全真皮後揹包(五色選)</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
						<a href="" class="n-btn n-btn--primary" title="立即購">立即購</a>
					</div>
					<div class="n-main--channel">CH60</div>		
				</li>
			</ul>
		</section>
		<section class="n-left n-main__wrap">
			<div class="n-l__title n-main__title">
				<h2 class="title--lv2"><i class="n-icon--clock"></i>鐘點戰</h2>
			</div>
			<ul class="n-main__list">
				<li>
					<a href="" title="【MIYUNA】首爾時尚FLO韓國">
						<figure class="n-pic n-left"><img src="img201607/pdimg/content/pic-150-02.png" alt="【MIYUNA】首爾時尚FLO韓國"></figure>
						<div class="n-main__detail n-left">
							<div class="n-main__caption n-main--live">
								<div class="n-main__txt title--lv4 n-left">ON-AIR</div>
								<ul class="n-main__clock n-right">
									<li>17</li>
									<li class="n-main__clock-separate">：</li>
									<li>00</li>
								</ul>
							</div>
							<div class="n-pd_name">【MIYUNA】首爾時尚FLO韓國首爾時尚FLO韓國首爾時尚FLO韓國首爾時尚FLO韓國</div>
							<div class="n-main__price">
								<span class="n-price--del">原價$ 5980</span>
								<span class="n-price--lv1">$ <span>1,299</span></span>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="" title="【MIYUNA】首爾時尚FLO韓國">
						<figure class="n-pic n-left"><img src="img201607/pdimg/content/pic-150-02.png" alt="【MIYUNA】首爾時尚FLO韓國"></figure>
						<div class="n-main__detail n-left">
							<div class="n-main__caption n-main--coming">
								<div class="n-main__txt title--lv4 n-left">強檔預告</div>
								<ul class="n-main__clock n-right">
									<li>18</li>
									<li class="n-main__clock-separate">：</li>
									<li>00</li>
								</ul>
							</div>
							<div class="n-pd_name">【MIYUNA】首爾時尚FLO韓國首爾時尚FLO韓國首爾時尚FLO韓國首爾時尚FLO韓國</div>
						</div>
					</a>
				</li>
			</ul>
		</section>
		<div class="n-left n-r__aside">
			<div id="loginBox" class="n-login__wrap">
				<div class="n-login__box">
					<div class="n-login__title">立即登入享優惠</div>
					<p class="n-login__txt">森森會員獨享，讓您邊購物邊享好康，快來一起輕鬆享有專屬優惠！</p>
					<a class="n-btn n-btn--lv2" href="" title="註冊">註冊</a>
					<a class="n-btn n-btn--primary" href="" title="登入">登入</a>	
					<ul class="n-login__links list--disc">
						<li><a href="" title="查看最新優惠券">查看最新優惠券</a></li>
						<li><a href="" title="查詢配送進度">查詢配送進度</a></li>
					</ul>		
				</div>
			</div>
			<div id="infoTab" class="n-info__wrap">
				<ul class="n-info__nav">
					<li class="current"><a href="#infoAd1" title="資訊報報">資訊報報</a></li>
					<li><a href="#infoAd2" title="專屬遊戲">專屬遊戲</a></li>
					<li><a href="#infoAd3" title="其他活動">其他活動</a></li>
				</ul>
				<div id="infoAd1" class="n-info__ad">
					<a href="" title="資訊報報ad"><img src="img201607/content/bn-190X130.png" alt="資訊報報ad"></a>
				</div>
				<ul id="infoAd2" class="n-info__ad n-info__ad-txt list--disc n-is--hide">
					<li><a href="" title="五管黨行：交境長樂克裡不給斯人心進人安如全化保">五管黨行：交境長樂克裡不給斯人心進人安如全化保</a></li>
					<li><a href="" title="但聽說現在都改採海水養殖，它自然有一個機制">但聽說現在都改採海水養殖，它自然有一個機制</a></li>
					<li><a href="" title="那是她講的，這是根據中華經濟研究院長期觀察">那是她講的，這是根據中華經濟研究院長期觀察</a></li>
				</ul>
				<ul id="infoAd3" class="n-info__ad n-is--hide">
					<li><a href="" title="資訊報報ad"><img src="img201607/content/bn190.png" alt="資訊報報ad"></a></li>
					<li><a href="" title="資訊報報ad"><img src="img201607/content/bn190.png" alt="資訊報報ad"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="n-l-main n-l-row20 n-left n-w-1010">
		<ul class="n-main__promo n-hover--line">
			<li class="n-promo--gray">
				<a href="" title="La Moda 品牌專屬系列">
					<div class="n-main__mask">
						<div class="n-pic"><img src="img201607/content/pic01.png" alt="La Moda 品牌專屬系列"></div>
					</div>
					<div class="n-main__promo-title">
						<div class="title--lv4">La Moda 品牌專屬系列</div>
						<p>長型子母托特包</p>
					</div>
					<div class="n-bg--shadow"></div>
				</a>
			</li>
			<li class="n-promo--gray">
				<a href="" title="La Moda 品牌專屬系列">
					<div class="n-main__mask">
						<div class="n-pic"><img src="img201607/content/bn-190x190-f.png" alt="La Moda 品牌專屬系列"></div>
					</div>
					<div class="n-main__promo-title">
						<div class="title--lv4">La Moda 品牌專屬系列</div>
						<p>長型子母托特包</p>
					</div>
					<div class="n-bg--shadow"></div>
				</a>
			</li>
			<li class="n-promo--gray">
				<a href="" title="La Moda 品牌專屬系列">
					<div class="n-main__mask">
						<div class="n-pic"><img src="img201607/content/pic02.png" alt="La Moda 品牌專屬系列"></div>
					</div>
					<div class="n-main__promo-title">
						<div class="title--lv4">La Moda 品牌專屬系列</div>
						<p>長型子母托特包</p>
					</div>
					<div class="n-bg--shadow"></div>
				</a>
			</li>
			<li class="n-promo--gray">
				<a href="" title="La Moda 品牌專屬系列">
					<div class="n-main__mask">
						<div class="n-pic"><img src="img201607/content/bn-190x190-f-2.png" alt="La Moda 品牌專屬系列"></div>
					</div>
					<div class="n-main__promo-title">
						<div class="title--lv4">La Moda 品牌專屬系列</div>
						<p>長型子母托特包</p>
					</div>
					<div class="n-bg--shadow"></div>
				</a>
			</li>
			<li class="n-promo--gray">
				<a href="" title="La Moda 品牌專屬系列">
					<div class="n-main__mask">
						<div class="n-pic"><img src="img201607/content/pic03.png" alt="La Moda 品牌專屬系列"></div>
					</div>
					<div class="n-main__promo-title">
						<div class="title--lv4">La Moda 品牌專屬系列</div>
						<p>長型子母托特包</p>
					</div>
					<div class="n-bg--shadow"></div>
				</a>
			</li>
		</ul>
	</div>
	<div class="n-l-main n-l-row20 n-left n-w-1010">
		<section class="n-self__box">
			<div class="n-l__title n-self__title">
				<h2 class="title--lv2 n-left">專屬商品</h2>
				<a class="n-self__refresh n-right" href="" title="換一組"><i class="n-icon--refresh"></i>換一組</a>
			</div>
			<ul class="n-self__list n-hover--img">
				<li>
					<a href="" title="kotipesä 灰色兩穿針織洋裝">
						<div class="n-pic"><img src="img201607/pdimg/content/pic-self-160-01.png" alt="kotipesä 灰色兩穿針織洋裝"></div>
						<div class="n-pd_name">kotipesä 灰色兩穿針織洋裝</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<li>
					<a href="" title="kotipesä 灰色兩穿針織洋裝">
						<div class="n-pic"><img src="img201607/pdimg/content/pic-self-160-02.png" alt="kotipesä 灰色兩穿針織洋裝"></div>
						<div class="n-pd_name">kotipesä 灰色兩穿針織洋裝</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<li>
					<a href="" title="kotipesä 灰色兩穿針織洋裝">
						<div class="n-pic"><img src="img201607/pdimg/content/pic-self-160-06.png" alt="kotipesä 灰色兩穿針織洋裝"></div>
						<div class="n-pd_name">kotipesä 灰色兩穿針織洋裝</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<li>
					<a href="" title="kotipesä 灰色兩穿針織洋裝">
						<div class="n-pic"><img src="img201607/pdimg/content/pic-self-160-02.png" alt="kotipesä 灰色兩穿針織洋裝"></div>
						<div class="n-pd_name">kotipesä 灰色兩穿針織洋裝</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<li>
					<a href="" title="kotipesä 灰色兩穿針織洋裝">
						<div class="n-pic"><img src="img201607/pdimg/content/pic-self-160-03.png" alt="kotipesä 灰色兩穿針織洋裝"></div>
						<div class="n-pd_name">kotipesä 灰色兩穿針織洋裝</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<li>
					<a href="" title="kotipesä 灰色兩穿針織洋裝">
						<div class="n-pic"><img src="img201607/pdimg/content/pic-self-160-04.png" alt="kotipesä 灰色兩穿針織洋裝"></div>
						<div class="n-pd_name">kotipesä 灰色兩穿針織洋裝</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<li>
					<a href="" title="kotipesä 灰色兩穿針織洋裝">
						<div class="n-pic"><img src="img201607/pdimg/content/pic-self-160-05.png" alt="kotipesä 灰色兩穿針織洋裝"></div>
						<div class="n-pd_name">kotipesä 灰色兩穿針織洋裝</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<li>
					<a href="" title="kotipesä 灰色兩穿針織洋裝">
						<div class="n-pic"><img src="img201607/pdimg/content/pic-self-160-07.png" alt="kotipesä 灰色兩穿針織洋裝"></div>
						<div class="n-pd_name">kotipesä 灰色兩穿針織洋裝</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<li>
					<a href="" title="kotipesä 灰色兩穿針織洋裝">
						<div class="n-pic"><img src="img201607/pdimg/content/pic-self-160-06.png" alt="kotipesä 灰色兩穿針織洋裝"></div>
						<div class="n-pd_name">kotipesä 灰色兩穿針織洋裝</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
				<li>
					<a href="" title="kotipesä 灰色兩穿針織洋裝">
						<div class="n-pic"><img src="img201607/pdimg/content/pic-self-160-01.png" alt="kotipesä 灰色兩穿針織洋裝"></div>
						<div class="n-pd_name">kotipesä 灰色兩穿針織洋裝</div>
						<div class="n-price--lv1">$ <span>1,299</span></div>
					</a>
				</li>
			</ul>
		</section>
	</div>
</div>