<div id="termsWrap" class="n-overlay__index">
		<form action="">
			<div class="n-terms__wrap">
				<div class="n-terms__pic"><img src="http://media.etmall.com.tw/XML/content/LayoutBuilder//Image/201506/49676_f06e615a-9450-46d7-8251-af9f0803e532.jpg" alt="得易Ponta聯名卡會員須知"></div>
				<div class="n-terms__box clearfix">
					<div class="n-left">
						<div class="title--lv4">得易Ponta聯名卡會員須知</div>
						<div class="n-terms__body">
							<div class="n-terms__checkbox">
	                            <input id="agree_1" type="radio" name="agree" value="yes" checked="">
                            	<label for="agree_1">同意</label>
                            	<input id="agree_1_non" type="radio" name="agree" value="no">
                            	<label for="agree_1_non">不同意</label>
	                        </div>
	                        <div class="n-terms__rule">
								<p>申請得易Ponta聯名卡視為同時申請成為森森百貨股份有限公司及東森得易購股份有限公司之會員（網站消費購物仍須先上網註冊完成，完整會員條款請詳閱森森百貨<a href="http://www.u-mall.com.tw/Homepage.aspx">www.u-mall.com.tw</a> 及東森得易購 <a href="http://www.etmall.com.tw/Pages/Home.aspx"> www.etmall.com.tw</a>網站所載。</p>
								<p>聯名機構（森森百貨股份有限公司及東森得易購股份有限公司，下同）之個人資料使用同意條款：勾選同意者，即同意聯名機構於聯名卡契約有效期間內得分別或共同蒐集、處理、利用申請人於本申請書所提供之個人資料、於聯名機構之消費交易記錄及累兌點資料，作為聯名卡提供優惠、服務或行銷等之用。如未勾選同意，將無法核發聯名卡。申請人如日後表示不同意，視為申請停用該聯名卡。</p>
								<p>森森百貨將本人之個人資料(姓名、行動電話、出生年月日、電子郵件、性別、身分證號、住址等) 、於聯名機構之消費交易記錄及累兌點資料提供予東森整合行銷股份有限公司及森森百貨股份有限公司，作為聯名卡之申辦、提供優惠、服務或行銷等使用。</p>
								<p>聯名機構（森森百貨股份有限公司及東森得易購股份有限公司，下同）之重要會員條款摘露如下，完整會員條款請詳閱森森百貨及東森得易購網站所載：
								</p>
								<ol class="list--decimal">
									<li>依個人資料保護法宣告如下：
										<ul>
											<li>資料之蒐集：聯名機構依照您主動提供，或經合法或經您同意由第三人提供有關您之個人資料。</li>
											<li>蒐集之目的：基於商品配送、消費者客戶管理與服務（包括但不限於會員相關權益通知、服務滿意度調查、為提供更適合會員之商品或優惠所作之統計分析等）、行銷資料、其他合於營業登記項目或章程所定之業務。</li>
											<li>蒐集之個人資料類別：
												<ul>
													<li>C○○一 識別個人者：如姓名、住居所、聯絡電話、電子郵件或其他可辨識資料本人者等。</li>
													<li>C○○二 識別財務者：如銀行帳戶之號碼與姓名、信用卡或簽帳卡之號碼等。</li>
													<li>C○○三 政府資料中之辨識者：如身分證統一編號、護照號碼等。</li>
													<li>C○一一 個人描述：如年齡、性別、出生年月日、國籍等。</li>
													<li>C○九三 財務資料：如支付方式、往來記錄等。</li>
													<li>C一○二 契約或約定：如關於交易、法律或契約等。</li>
													<li>C○五一 學校紀錄：如學歷。</li>
													<li>C○二一 家庭情形：如婚姻有無、子女人數等。</li>
												</ul>
											</li>
											<li> 個人資料利用之期間、地區、對象及方式：
												<ul>
													<li>聯名機構於本國為提供會員服務（包括但不限於交易之查詢、退換貨及售後服務等）將於營運期間蒐集使用會員個人資料，且為基於服務目的，聯名機構會委任處理營運相關事務之必要第三人（如：合作廠商、物流廠商）或由聯名機構之關係企業基於寄發行銷優惠訊息者，均將使用您的個人資料；惟當會員要求刪除個人資料時，聯名機構將先凍結該會員資料與其歷史訂單記錄，並禁止員工對該會員資料進行因行銷目的之蒐集、處理、利用，並於法令規定之保存期間屆滿後進行刪除。</li>
												</ul>
											</li>
										</ul>
									</li>
									<li>聯名機構得不定期：
										<ul>
											<li>寄發電子報、型錄、發送簡訊、郵件等相關商品或服務之資訊（日後如不願接受，請撥打客戶專線0800-609-609通知森森百貨、0800-013-058通知東森購物）。聯名機構之關係企業得寄送相關行銷優惠訊息。</li>
										</ul>
									</li>
								</ol>
							</div>
						</div>
					</div>
					<div class="n-right">
						<div class="title--lv4">得易Ponta聯名卡會員服務使用辦法</div>
                        <div class="n-terms__checkbox">
                            <input id="agree_2" type="radio" name="n-agree" value="yes" checked="">
                            <label for="agree_2">同意</label>
                            <input id="agree_2_non" type="radio" name="n-agree" value="no">
                            <label for="agree_2_non">不同意</label>
                        </div>                  
						<div class="n-terms__rule">
						   <p>歡迎您，在您申請得易Ponta聯名卡前，請詳閱會員服務使用辦法：</p>
						   <ol class="list--decimal">
						      <li>當您完成相關申請註冊，並使用得易Ponta卡服務(包括各相關特約商、網站、APP等，以下皆同)時，即表示您或(及)您的父母、監護人(如您未滿二十歲)已經閱讀、瞭解、並同意本使用辦法之各項約定條款。</li>
						      <li>
						         申請作業
						         <ul>
						            <li>(1) 申請人須填寫個人資料提出申請，經東森整合行銷股份有限公司(下稱得易Ponta卡)或指定之發卡特約商依程序完成會員發卡作業後，始成為得易Ponta卡會員（以下簡稱會員）。</li>
						            <li>(2) 申請人應填寫正確之個人資料，若有變更應盡速更新，並提供相關身分證件以供查驗，以確保權益。</li>
						            <li>(3) 申請人同意得易Ponta卡得依申請人所提供之個人資料，不定期發送各項行銷獎勵活動或優惠資訊。</li>
						            <li>(4) 如有冒用他人身分、個人資料填寫不正確或不完整者(含嗣後變動未更新者等)，須自負相關法律責任及會員權益受損之風險(例如：無法享受完整之會員服務、無法累兌點數、停卡或加入會員失敗…等等)。會員填寫之電話號碼，得易Ponta卡可能會提供警政署進行555165反詐騙平台執行密碼驗證之用。</li>
						            <li>(5) 會員須經啟動得易Ponta卡網站 <a href="https://www.ponta.com.tw/">www.ponta.com.tw</a> 會員服務驗證，始能進行兌點作業。</li>
						         </ul>
						      </li>
						      <li>凡成功加入得易Ponta卡會員者，即得享有得易Ponta卡及各合作特約商(將不定期於得易Ponta卡網站<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>或得易Ponta卡手機APP公告更新)贈送之得易Ponta卡會員點數(下稱點數)，並可累積點數以兌換得易Ponta卡各合作特約商提供之優惠服務或贈獎。</li>
						      <li>得易Ponta卡及其指定之委外合作廠商或合作銀行得於得易Ponta卡業務營運期間，於得易Ponta卡營運地區內，依「個人資料保護法之特定目的及個人資料之類別」之規定，蒐集、處理、利用及保有會員個人資料之特定目的：「○二四民意調查」、「○四○行銷」、「○八一個人資料之合法交易業務」、「○九○消費者、客戶管理與服務」、「一三六資訊與資料庫管理」、「一四八網路購物及其他電子商務服務」、「一七九其他財政服務」、「一八一其他經營合於營業登記項目或組織章程所定之業務」「一八二其他諮詢與顧問服務」等合理相關聯之特定目的範圍內，以各項資訊分析工具、資料交叉比對、手機簡訊及活動訊息推播、紙本或電子之郵件或問卷、電話行銷或服務、電子APP程式等方式蒐集、國際傳輸、處理及利用包括但不限於會員姓名、年齡、生日、身分證字號、職業、電話、地址、電子郵件、消費時間、消費明細(金額及商品等)、特約商、發票號碼、卡號，得易Ponta卡點數等各式相關資料，以執行本使用辦法並提供會員各種行銷優惠服務及訊息。會員得隨時向得易Ponta卡公司要求停止上述行為，得易Ponta卡及其指定之委外合作廠商於接到會員之通知後，將立即停止。</li>
						      <li>會員所提供之各項資料，除依個人資料保護法規定方式處理外，原則上將於得易Ponta卡停止營運後刪除之。</li>
						      <li>得易Ponta卡得將會員之個人資料提供予各相關特約商，以利累點及兌點作業、點數通知、各式統計分析、商品及服務行銷或其他服務之用，但得易Ponta卡應僅提供必要範圍之資料，且應要求特約商應依法保護會員之個人資料。又若得易Ponta卡擬將會員個人資料提供予非特約商進行電話、紙本或電子郵件等行銷時，將會取得會員以電話、手機簡訊及活動訊息推播、紙本、電子郵件或其他方式回覆同意後，始將會員之個人資料提供予特約商進行各式行銷。</li>
						      <li>得易Ponta卡僅與經政府合法立案成立之團體合作點數兌換現金之捐款活動，會員如表示同意以點數兌換現金以捐贈予該團體者，得易Ponta卡會一併將會員之姓名、地址、捐贈點數、兌換金額提供予受捐贈之合作團體，俾供其開立並寄發收據；但如會員同意無需開立收據或該次捐款活動公告無需開立收據及匿名捐贈者，得易Ponta卡則將依約定不提供會員地址或會員姓名予該受捐贈之團體。</li>
						      <li>依個人資料保護法之規定，會員本人得就所提供之個人資料向得易Ponta卡查詢、請求閱覽、請求製給複製本、請求補充或更正、請求停止蒐集處理或利用及刪除的權利；其中如係查詢或請求閱覽個人資料或製給複製本者，得易Ponta卡將酌收必要成本費用。</li>
						      <li>會員於得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a> ) 或得易Ponta卡手機APP之會員帳號為身分證號，且必須提供一組個人辨識密碼，請務必詳實填寫，不可重複申請註冊。若會員持有多張得易Ponta卡者，累兌之點數將不重複計算，每張卡片所累兌之點數，均將歸戶計算於同一身分證帳號。</li>
						      <li>會員如因遺失或毀損得易Ponta卡而申請補發時，得易Ponta卡將以800點兌換折抵工本費或酌收工本費每卡50元。</li>
						      <li>請會員務必妥善保管會員帳號及密碼，且勿將帳號或密碼洩露或提供予第三人知悉，以防止他人盜用。以同一個會員資料登錄使用會員服務的所有行為，都將被得易Ponta卡視為是這位會員本人的行為，應由會員本人自負完全的責任。</li>
						      <li>會員於行使會員所屬各相關權利或服務時，應出示會員卡或完成相關認證作業，得易Ponta卡或各特約商並得要求出示會員本人身分證明文件。</li>
						      <li>若發生資訊系統故障或點數登錄異常…等情形者，得易Ponta卡將暫停資訊系統服務或異常情形之點數累兌功能；待異常狀況排除後，將盡速恢復各項會員服務功能、調整發生異常情形之會員卡點數或以更換會員卡片之方式處理。</li>
						      <li>會員如欲辦理退貨者，得易Ponta卡或特約商將扣回原來該商品或服務所贈送之點數，如會員之點數不夠扣回者，會員需先繳交該不足扣回點數之處理成本費用(即不足之點數*NT$ 0.06)後，若會員未先繳交點數處理成本費用者，會員同意得易Ponta卡或特約商得逕自應退還之款項中扣抵該點數處理成本費用後，再將餘額退還會員。</li>
						      <li>會員申請點數移轉每次需額外收取移轉手續費點數50點，點數移轉作業將於申請後48小時內完成入帳，受讓人取得點數之有效期間，以點數移轉日期起算。點數移轉一經申請作業成功，無法要求取消。</li>
						      <li>會員不得要求將點數兌換現金或其他非得易Ponta卡所公告且有效之商品、服務或優惠等。</li>
						      <li>會員於成功完成啟用得易Ponta卡所寄發之確認電子郵件程序後，可使用得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a> ) 或得易Ponta卡手機APP之相關會員服務功能。</li>
						      <li>會員點數之累兌作業辦法、可兌換之優惠或贈品將隨時更新，會員得隨時透過得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>) 或得易Ponta卡手機APP查詢。</li>
						      <li>得易Ponta卡公司與各特約商或其他合作廠商間並無僱傭、委任、合夥、經銷、代理或保證等法律關係，會員與店家間之交易或兌換贈品，均由各店家負責提供予會員，亦由各店家自行對會員擔負相關之法律交易責任，概與得易Ponta卡無關。得易Ponta卡所提供之各項行銷活動悉依得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>) 或得易Ponta卡手機APP之公告為準。</li>
						      <li>除特約商另有公告外，會員新增累積之點數將於特約商確認交易後48小時內轉入會員帳戶內，且於兌換贈品時，將優先扣除獲贈日在前者之所需點數；會員當年度所累積之點數，可使用至次年12月31日止，惟點數到期之當年度，會員使用得易Ponta卡累積點數達當年度公告之標準者，則當年度將到期之點數使用效期將自動展延一年（如當年度未公告者，則延用前一年度之公告），且展延以一次為限。嗣後得易Ponta卡公司如另有調整點數展延效期規定之公告（詳官網）者，則優先適用該公告之說明。</li>
						      <li>得易Ponta卡保留修改或終止有關得易Ponta卡之申請或各項會員權益服務之權利。有關得易Ponta卡之各項服務辦法及會員相關權益等(包括但不限於特約商、行銷優惠等)均以得易Ponta卡網站之公告(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>) 為準。如有問題者，並得電話向得易Ponta卡詢問。</li>
						      <li>因使用得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>) 及得易Ponta卡手機APP或加入得易Ponta卡會員所生之爭議，如致生訴訟者，會員及得易Ponta卡同意以台灣台北地方法院為第一審管轄法院。</li>
						      <li>如有得易Ponta卡會員服務使用辦法或得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>)未公告規定之事項或公告規定之事項有爭議者，得易Ponta卡享有最終之解釋權；但如任一規定與法律之強行規定有相衝突者，則以法律之強行規定為準。</li>
						   </ol>
						   <p>得易Ponta網站及得易Ponta手機APP使用及啟用約定條款：</p>
						   <ol>
						      <li>請確認一切以任何方式提供至得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>) 或得易Ponta卡手機APP之資料，都符合法令規定或權利人之同意授權，並皆視為會員有權並同意授權得易Ponta卡有權為重製、改作、公開播送、傳輸、散佈、發行或公開發表等(下稱使用授權)，且保證得易Ponta卡取得之授權使用內容，絕無侵害第三人之智慧財產權或違反法令。</li>
						      <li>會員在使用得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>) 或得易Ponta卡手機APP過程中所有之檔案資料紀錄均將留存，作為得易Ponta卡各式資訊分析之用；且會員人應填寫本人正確資料，如有冒用他人身分、個人資料填寫不正確或不完整者(含嗣後變動未更新者等)，須自負相關法律責任及會員權益受損之風險(例如：無法享受完整之會員服務、無法累兌點數、停卡或加入會員失敗…等等)。</li>
						      <li>會員一切之權利義務依據，悉以得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>) 及得易Ponta卡手機APP資料庫依正常程序所記錄之電子資料為準，會員不得有任何異議。</li>
						      <li>
						         得易Ponta卡將以目前合理之方式及技術維持得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>) 、得易Ponta卡手機APP及得易Ponta卡會員之各項系統或功能之正常運作，並維護會員之權益。但於以下情形，將可能暫停或中斷上述各項運作之全部或一部，且對會員任何直接或間接之損害均不負任何賠償或補償責任：
						         <ol>
						            <li>資訊系統之維護、升級、更換、搬遷或除錯時；</li>
						            <li>會員有任何違反法令或本使用約定條款之情形者；</li>
						            <li>天災、其他不可抗力因素或不可歸責於得易Ponta卡之事由所導致之服務停止或中斷；</li>
						            <li>非得易Ponta卡所得控制事由而致會員之服務資訊顯示錯誤、或遭偽造、變造、刪改或竊取、或致系統中斷或不能正常運作者。</li>
						         </ol>
						      </li>
						      <li>得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>) 或得易Ponta卡手機APP 與其他網站間之連結，並不代表得易Ponta卡與此連結網站間有任何僱傭、委任、合夥、經銷、代理或保證等法律關係，會員與其他連結網站間所發生之權利義務關係，均由各該連結網站自行負責，概與得易Ponta卡無關；且得易Ponta卡公司對所有的外部連結網站，絕不擔保其合法性、有效性、即時性或其他一切任何擔保及責任。</li>
						      <li>
						         使用得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>) 或得易Ponta卡手機APP時，請注意以下事項：
						         <ol>
						            <li>請會員務必妥善保管會員帳號及密碼，且勿將帳號或密碼洩露或提供予第三人知悉，以防止他人盜用。</li>
						            <li>會員在使用、瀏覽或查詢得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a> ) 或得易Ponta卡手機APP過程中所有之檔案資料紀錄(包括但不限於IP位址、使用時間、使用的裝置、使用的瀏覽器、瀏覽及點選資料紀錄等)均將留存。</li>
						            <li>為了精進技術並提供更好的服務，得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>) 或得易Ponta卡手機APP可能會使用一切相關之電子資訊技術或方式，進行網站資料的搜集工作或統計分析等，並可能以綜合數據形式(例如人數統計和使用情況等資料)提供特約商或其他合作對象參考；除非得到會員的同意，將不會提供包括可以識別個人身分的資料。如果會員不想參與以上的資料搜集工作，可隨時通知得易Ponta卡。</li>
						            <li>得易Ponta卡將會依情況適時增刪修改得易Ponta卡網站(<a href="https://www.ponta.com.tw/">www.ponta.com.tw</a>)之內容，請會員能隨時注意網站上之公告或變動。</li>
						         </ol>
						      </li>
						   </ol>
						</div>
					</div>
					<p class="n-note__box-lv2 n-clear n-is--hide">得易Ponta聯名卡會員須知」及「得易Ponta聯名卡會員服務使用辦法」需同時勾選同意， <br /> 才能申辦得易Ponta聯名卡。</p>
					<p class="title--lv4 n-clear">立即加入得易Ponta聯名卡，購物享優惠，點數變現金！</p>
					<div class="n-terms__btn n-center"><input id="btnAgree" class="n-btn n-btn--primary" type="submit" value="我同意以上條款申辦得易Ponta 聯名卡"></div>
				</div>
			</div>
		</form>
	</div>